# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
.uv/

# Test and coverage
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.benchmarks/

# IDEs / Editors
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
